* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  gap: 4px;
  display:grid;
  grid-template-columns:1fr 4fr;
  grid-template-rows:1fr 1fr 10fr 1fr;
  grid-template-areas:
  "header header"
  "sidebar nav"
  "sidebar article"
  "footer footer"
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area:header;
  display:grid;
  grid-template-columns: 1fr 3fr;
}

.logo {
grid-column:1/2;  
}

.menu{
  grid-column:2/3;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.menu ul{
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

ul{
  list-style: none;
}

.sidebar {
  background-color: #FF7755;
  grid-area:sidebar;
  gap:50px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #FF7755;
  grid-area:nav;
  }

  .nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-area:article;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap:15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
  display: grid;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area:footer;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}
