div {
width: 150px;
height: 40px;
margin: 10px;
padding: 10px;
display: inline-block;
background-color:#e74c3c
}

p{
  width: 150px;
  height: 40px;
  margin: 10px;
padding: 10px;
display: inline-block;
background-color:#9b59b6
}

span {
  width: 150px;
  height: 40px;
  background-color:#3498db;
  display: inline-block;
  margin: 10px;
padding: 10px;
}

a{
  width: 150px;
  height: 40px;
  background-color:#2ecc71;
  display: inline-block;    
  margin: 10px;
padding: 10px;
}
