body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid black;
  /* CAMBIAR */
  padding: 32px;
  margin: 12px;
}

.two {
  background: lightblue;
  border: 3px solid black;
  /* CAMBIAR */
  margin-bottom: 48px;
}

.three {
  background: peachpuff;
  border: 3px solid black;
  width: 200px;
  /* CAMBIAR */
  padding: 32px;
  margin-left: 318px 
  /* cómo calcular este margin-left: 
  inspeccionando la imagen del 1 
  mide 506 el trozo de texto -200 que mide este bloque +12 del margin que tenía el 1 pero este no*/
}